/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*layout*/

header {
	padding: 150px 16%;
} 

/*body*/

body {
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none;
}
p {
	font-size: 1.2em;
	color: #606060;
	line-height: 1.7em;
	margin: 1em 2em 1.5em;
}
a {
	color: #e84c3d;
	font-weight: bold;
}

/*header*/

header img {
	width: 40px;
	height: 40px;
	margin: 1em 0 2em 3em;
}

/*section works*/

.works {
max-width: 100%;
}
.works ul {
	overflow: auto;
}
.works li img{
	display: inline-block;
	float: left;
	height: 292px;
	width: 359px;
	max-width: 100%;
}
.works h1 span {
	display: none;
}

/*footer*/

.main-footer {
	padding: 4em 10%;
}
.e-mail {
	display: inline-block;
	margin-left: 6.5em;
}
.e-mail a {
	margin-left: 0.5em;
}
.contact a span {
	display: none;
}

/*sprite social icons*/

.contact {
	text-align: right;
	margin-top: -4.5em;
}
.contact li {
  display: inline-block;
}

.contact a {
  background: url("../images/result.png");
  width: 40px;
  height: 40px;
  display: block;
  color: #bbbbbb;
  margin-right: 1em;
  float: right;
}
.contact a.icon-twitter {
	background-position: 0px 0px;
}
.icon-twitter a:hover {
	color: #55acee;
}
.contact a.icon-dribbble {
	background-position: 0px -50px;
}
.contact a.icon-instagram {
	background-position: 0px -100px;
}
.contact a.icon-linkedin {
	background-position: 0px -150px;
}

/*media queries*/

@media screen and (min-width: 1436px) {
  .works li img {
  	width: 33.3%;
  	max-width: 359px;
  	max-height: 292px;  
  }
}
@media screen and (max-width: 1401px) {
  .works li img {
  	width: 25%;
  	max-width: 400px;
  	max-height: 300px;  
  }
}
@media screen and (max-width: 1400px) {
  .works li img {
  	width: 33.3%;
  	max-width: 400px;
  	max-height: 300px;  
  }
}
@media screen and (max-width: 900px) {
  .works li img {
  	width: 50%;
  	max-width: 450px;
  	max-height: 292px;  
  }
}
@media screen and (max-width: 800px) {
  .works li img {
  	width: 50%;
  	max-width: 400px;
  	max-height: 292px;  
  }
}

@media screen and (max-width: 451px) {
  .works li img {
  	width: 100%;
  	max-width: 451px;
  	max-height: 292px; 
  }
}
